<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet"/>
<div class="container">
    <table class="sign-table">
        <tr class="field">
            <th class="logo" colspan="2">
                <img src="{{ asset('assets/img/flatapp.png') }}" width="320" alt="FlatApp">
            </th>
        </tr>
        <tr>
            <td class="border-top">
                <b>Sprzedawca:</b>
            </td>
            <td class="border-top">
                <b>Nabywca:</b>
            </td>
        </tr>
        <tr>
            <td class="value-top">
                {{ seller | raw}}
            </td>
            <td class="value-top">
                {{ tenant | raw}}
            </td>
        </tr>
        <tr class="field">
            <th class="invoice" colspan="2">
                <h1>Faktura VAT {{ invoiceTitle }}</h1>
            </th>
        </tr>
        <tr class="field">
            <td colspan="2">
                <table class="payment">
                    <tr>
                        <td class="border-field">
                            Lp.
                        </td>
                        <td class="border-field">
                            Nazwa usługi
                        </td>
                        <td class="border-field">
                            Ilość
                        </td>
                        <td class="border-field">
                            Cena jednostkowa
                        </td>
                        <td class="border-field">
                            Stawka VAT
                        </td>
                        <td class="border-field">
                            Kwota VAT
                        </td>
                        <td class="border-field">
                            Razem
                        </td>
                    </tr>
                    <tr>
                        <td class="value-field">
                            1.
                        </td>
                        <td class="value-field">
                            {{ productTitle }}
                        </td>
                        <td class="value-field">
                            1x
                        </td>
                        <td class="value-field">
                            {{ productPriceUnit }} PLN
                        </td>
                        <td class="value-field">
                            23%
                        </td>
                        <td class="value-field">
                            {{ productPriceGros }} PLN
                        </td>
                        <td class="value-field">
                            {{ productValue }} PLN
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="field">
            <td colspan="2">
                <table class="sign-table">
                    <tr>
                        <td class="sign-bottom">
                            <p class="sign">Podpis osoby upoważnionej do wystawienia</p>
                        </td>
                        <td></td>
                        <td class="sign-bottom">
                            <p class="sign">Podpis osoby upoważnionej do odbioru</p>
                        </td>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>